# Application dependencies
pyinstaller==5.14
PySide6==6.7.1
requests==2.31.0
pyserial==3.5
reportlab==4.0.7
psutil==5.9.8
pillow>=10.0.0
pyyaml>=6.0.1

# Test dependencies
pytest>=7.4.3
pytest-cov>=4.1.0
pytest-qt>=4.2.0
